.datepicker,
.calendar-button {
  width: 100% !important;
}
.calendar-button {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
