.h-100 {
	height: 100%;
}
.h-50 {
    height: 50%;
}
.hv-5 {
    height: 5vh;
}
.w-100 {
	width: 100%;
}
.w-50 {
    width: 50%;
}
.w-30 {
    width: 30%;
}
.p-b-10 {
    padding-bottom: 10vh;
}
.p-10 {
    padding: 10px;
}
.f-s-25 {
    font-size: 25px;
}
.f-s-40 {
    font-size: 40px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-space-around {
	justify-content: space-around;
}
.game-card {
    height: 80px;
    width: auto;
    color: white;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 2px #888888;
    transition: color 0.3s, background-image 0.5s, ease-in-out;
}

.game-card:hover {
    background-image: linear-gradient(#b1ccda 49%, #96b4c5 51%);
    color: #03324c;
}

.game-card img {
    max-width: 100%;
    max-height: 100%;
    height: 80px;
}

.game-selector-wrapper {
    padding: 5vh 0;
}

.game-selector-wrapper a {
    margin: 5px;
    min-width: 50px;
}

.score-wrapper {
    width: 100%;
    height: 100%;
}

.text-center {
  text-align: center;
}
