/* https://www.colourlovers.com/palette/92095/Giant_Goldfish */

:root {
  --palette-color-1: #69D2E7;
  --palette-color-2: #A7DBD8;
  --palette-color-3: #E0E4CC;
  --palette-color-4: #F38630;
  --palette-color-5: #FA6900;

  --main-text-color: #555;
  --main-bg-color: var(--palette-color-3);

  --color-emphasize: var(--palette-color-5);
  --form-border-color: #d2f7f4;
  --form-placeholder-color: var(--palette-color-1);
}
